header {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

body {
    margin: 8px;
    display: block;
    background-color: rgb(236, 214, 185);
    min-width: 642px;
}

h1 {
    width: 50%;
    min-width: 470px;
    text-align: center;
    border: 5px outset;
    padding: 4px;
}

a {
    color: black;
}

a:visited {
    color: rgb(236, 214, 185);
}

footer {
    height: 60px;
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: rgb(114, 73, 40);
    color: rgb(236, 214, 185);
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
}

#paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
}